AddDefaultCharset UTF-8
AddCharset utf-8 *

RewriteEngine on
# if a directory or a file exists, use it directly
#Options +FollowSymLinks
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+) index.php [L]

RewriteCond %{HTTP_HOST} ^www.akulov.kiev.ua$ [NC]
RewriteRule ^(.*)$ https://akulov.kiev.ua/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
RewriteRule . %1/%2 [R=301,L]
